@use "sass:color";
@use "sass:map";

$custom-brand-primary: #1b7daa;
$custom-brand-info: #409ae3;
$custom-brand-success: #019851;
$custom-brand-warning: #ed820c;
$custom-brand-danger: #e74c3c;
$custom-white: #fff;
$custom-font-family: ("Droid sans", helvetica, arial, freesans, sans-serif);

@use "variables"
  with (
  // Colors

  $brand-primary: $custom-brand-primary,
  $brand-text: #fff,
  $brand-accent: #deddef,
  $brand-info: $custom-brand-info,
  $brand-success: $custom-brand-success,
  $brand-warning: $custom-brand-warning,
  $brand-danger: $custom-brand-danger,
  $state-info: #97cefb,
  $state-success: #b5fbb7,
  $state-warning: #ffd699,
  $state-danger: #f7a6a4,
  $blue: $custom-brand-primary,
  $indigo: $custom-brand-info,
  $purple: $custom-brand-primary,
  $pink: #eb5286,
  $red: $custom-brand-danger,
  $orange: $custom-brand-warning,
  $yellow: #fec900,
  $green: $custom-brand-success,
  $teal: #00b3ad,
  $white: $custom-white,


  // Scaffolding

  $link-color: color.scale($custom-brand-primary, $lightness: -20%),
  $link-hover-color: $custom-brand-primary,


  // Font

  $font-family-sans-serif: $custom-font-family,
  $font-family-monospace: (consolas, "Liberation Mono", menlo, "Courier New", courier, monospace),
  $font-family-base: $custom-font-family,
  $font-weight-normal: normal,
  $font-weight-bold: bold,
  $font-size-base: 14px,
  $font-size-large: 1.285em,
  $font-size-large-px: 16px,


  // Logo

  $use-logo: true,
  $logo-image-width: 40px,
  $logo-image-height: 25px,
  $logo-space: 20px,
  $logo-position-horizontal: 20px,


  // Issue statuses

  $status-custom-colors-map: (
    status-1: (
      background: color.scale($custom-brand-primary, $lightness: -10%),
      color: $custom-white
    ),
    status-2: (
      background: color.scale($custom-brand-primary, $lightness: -10%),
      color: $custom-white
    ),
    status-3: (
      background: color.scale($custom-brand-primary, $lightness: -10%),
      color: $custom-white
    ),
    status-4: (
      background: color.scale($custom-brand-primary, $lightness: -10%),
      color: $custom-white
    ),
    closed: (
      background: color.scale($custom-brand-danger, $lightness: -10%),
      color: $custom-white
    )
  ),


  // Trackers links

  $tracker-custom-colors-map: (
    2: (
      background: color.scale($custom-brand-primary, $lightness: -10%),
      color: $custom-white
    ),
    4: (
      background: color.scale($custom-brand-primary, $lightness: -10%),
      color: $custom-white
    )
  )
);


// CUSTOM

// Checkbox whitespace in project selection

.drdn-items.selection>span::before {
  content: " ";
  display: inline-block;
  width: 1em;
  margin-right: 4px;
}
